{% extends 'index.html' %}

{% block content %}
    <div class="row">
        <form method="POST" class="col-md-6 row"> {% csrf_token %}
            <div class="form-group col-md-12 center-block">
                <label for="name">Name</label>
                <p>{{ user.name }}</p>
            </div>
            <div class="form-group col-md-12 center-block">
                <label for="email">Email address</label>
                <p>{{ user.email }}</p>
            </div>
            <div class="form-group col-md-12 center-block">
                <a href="{% url 'update' %}" class="btn btn-danger btn-block">수정하기</a>
                <a href="{% url 'logout' %}" class="btn btn-primary btn-block">로그아웃</a>
            </div>
        </form>
    </div>
{% endblock content %}